.home-container{
    height:800px;
    width:100%;
    position:relative;
    background-image: url('../../../images/Mask\ Group\ 2.png');  
    background-size: cover;
    z-index: -100;
}
.home-container::after {
    height: 750px;
    content: '';
    position: absolute;
    top: 0;
    width: 28%;
    right: 0;
    background-color: #3a4256;
    z-index: -50;
}